<app-header></app-header>
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">വർത്തമാനം</h4>
                  
            </div>
        </div>
        <!-- Header End -->
 
 <!-- Blog Start -->
 <div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">            
            <!-- <h1 class="display-4 mb-4">Events And Updates</h1> -->
            <p class="mb-0">ഞങ്ങളുടെ പുതിയ വാർത്തകൾ, പ്രധാനപ്പെട്ട അപ്‌ഡേറ്റുകളും സംബന്ധിച്ച് അറിയൂ. വരാനിരിക്കുന്ന പ്രവർത്തനങ്ങൾ, കഴിഞ്ഞ സംഭവങ്ങളുടെ ചുരുക്കം,  എല്ലാ വിവരങ്ങളും ഇവിടെ നിങ്ങൾക്ക് കണ്ടെത്താം.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/gallery/1.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>News</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">                         
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 19 June 2024</div>                           
                        </div>
                        
                        <p class="mb-3">കൊടുങ്ങല്ലൂർ മണ്ഡലം മണ്ഡലം യോഗം</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/gallery/16.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>News</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">                           
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 17 April 2024</div>                           
                        </div>
                        <!-- <a href="#" class="h4 d-inline-block mb-3">കൊടുങ്ങല്ലൂർ മണ്ഡലം മണ്ഡലം യോഗം</a> -->
                        <p class="mb-3">കൊടുങ്ങല്ലൂർ മണ്ഡലം മണ്ഡലം യോഗം</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Blog End -->