
<app-header></app-header>
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">ചിത്രസഞ്ചയം</h4>
                  
            </div>
        </div>
        <!-- Header End -->
        <div class="container-fluid footer py-5 " data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-xl-12">
                        <div class="mb-5">
                            <div class="row g-4">                              
                               
                             
                                    <div class="footer-item">
                                     
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                                                <div class="footer-instagram rounded">
                                                    <img src="assets/img/gallery/1.jpg" class="img-fluid w-100" alt="">
                                                    <!-- <p>fdgfdgfdh</p> -->
                                                    <div class="footer-search-icon">
                                                        <a href="assets/img/gallery/1.jpg" data-lightbox="footerInstagram-1" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                        
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                                                <div class="footer-instagram rounded">
                                                    <img src="assets/img/gallery/23.jpg" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="assets/img/gallery/23.jpg" data-lightbox="footerInstagram-2" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                                                <div class="footer-instagram rounded">
                                                    <img src="assets/img/gallery/8.jpg" class="img-fluid w-100" alt="">
                                                    <div class="footer-search-icon">
                                                        <a href="assets/img/gallery/8.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                                            <div class="footer-instagram rounded">
                                                <img src="assets/img/gallery/10.jpg" class="img-fluid w-100" alt="">
                                                <div class="footer-search-icon">
                                                    <a href="assets/img/gallery/10.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="footer-instagram rounded">
                                            <img src="assets/img/gallery/2.jpg" class="img-fluid w-100" alt="">
                                            <div class="footer-search-icon">
                                                <a href="assets/img/gallery/2.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="footer-instagram rounded">
                                        <img src="assets/img/gallery/3.jpg" class="img-fluid w-100" alt="">
                                        <div class="footer-search-icon">
                                            <a href="assets/img/gallery/3.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                        </div>
                                    </div>
                               </div>
                               <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="footer-instagram rounded">
                                    <img src="assets/img/gallery/16.jpg" class="img-fluid w-100" alt="">
                                    <div class="footer-search-icon">
                                        <a href="assets/img/gallery/16.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                    </div>
                                </div>
                           </div>
                           <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="footer-instagram rounded">
                                <img src="assets/img/gallery/5.jpg" class="img-fluid w-100" alt="">
                                <div class="footer-search-icon">
                                    <a href="assets/img/gallery/5.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                                </div>
                            </div>
                       </div>
                       <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="footer-instagram rounded">
                            <img src="assets/img/gallery/17.jpg" class="img-fluid w-100" alt="">
                            <div class="footer-search-icon">
                                <a href="assets/img/gallery/17.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                            </div>
                        </div>
                   </div>
                   <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="footer-instagram rounded">
                        <img src="assets/img/gallery/19.jpg" class="img-fluid w-100" alt="">
                        <div class="footer-search-icon">
                            <a href="assets/img/gallery/19.jpg" data-lightbox="footerInstagram-3" class="my-auto"><i class="fas fa-link text-white"></i></a>
                        </div>
                    </div>
               </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    
                    
                </div>
           
        </div>