<app-header></app-header>
    
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">ട്വൻ്റി 20</h4>
                   
            </div>
        </div>
     


        <!-- About Start -->
        <div class="container-fluid bg-light about py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-item-content bg-white rounded p-5 h-100">
                            <!-- <h4 class="text-primary">About Our Company</h4> -->
                            <h1 class="display-4 mb-4">ട്വൻ്റി 20 </h1>
                            <p>ട്വൻ്റി 20കിഴക്കമ്പലം കേരളത്തിലെ എറണാകുളം ജില്ലയിൽ കിഴക്കമ്പലത്തെ ഒരു ഇന്ത്യൻ ലാഭരഹിത ചാരിറ്റബിൾ സംഘടനയാണ്. ഈ സംഘടനയുടെ പ്രധാന ഉദ്ദേശം 2020-നകം കിഴക്കമ്പലം ഗ്രാമപഞ്ചായത്തിനെ ഇന്ത്യയിലെ ഏറ്റവും മികച്ച ഗ്രാമപഞ്ചായത്ത് ആക്കുക എന്നതാണ്. 2015-ലെ പ്രാദേശിക സ്വയംഭരണ സ്ഥാപന തെരഞ്ഞെടുപ്പുകളിൽ ഈ സംഘടന വിജയിച്ചിരുന്നു.</p>
                            <p>ട്വൻ്റി 20 കിഴക്കമ്പലം എന്നത് കിറ്റക്സ് ഗാർമെന്റ്സ് എന്ന വസ്ത്ര നിർമ്മാണ എക്സ്പോർട്ട് കമ്പനിയുടെ പ്രോത്സാഹനത്തോടെ പ്രവർത്തിക്കുന്ന ഒരു ലാഭരഹിത ചാരിറ്റബിൾ സംഘടനയാണ്. 
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="bg-white rounded p-5 h-100">
                            <div class="row g-4 justify-content-center">
                                <div class="col-12">
                                    <div class="rounded bg-light">
                                        <img src="assets/img/Web-about-img.jpg" class="img-fluid rounded w-100" alt="">
                                    </div>
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->