<app-header></app-header>
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Login</h4>                 
            </div>
        </div>
        <!-- Header End -->


        <!-- Contact Start -->
        <div class="container-fluid contact bg-light py-5">
            <div class="container py-5">
              
                <div class="row g-5">
                    <div class="col-xl-6 d-none d-lg-block wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="contact-img d-flex justify-content-center" >
                            <div class="contact-img-inner">
                                <img src="assets/img/Web-login-img.png" class="img-fluid w-100"  alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="login-container">
                            <div class="login-card">
                                <h2>Login</h2>
                              <form class="login-form" [formGroup]="loginForm" (submit)="login()">
                                <input type="text" placeholder="Phone Number"   formControlName="username" maxlength="15" (input)="validatePhoneNumber()" required >                                                       
                                <span class="error">{{mobileError}}</span>
                                <input type="password" placeholder="Password"   formControlName="password" required>
                                <div class="login-buttons">
                                  <button type="submit" class="login-button">Login</button>
                                  <button type="submit" class="register-button" routerLink="/register">Register</button>
                                </div>
                              </form>
                            </div>
                           
                          </div>
                          @if (this.msg) {
                            <div  class="alert alert-success" role="alert">
                               <p >{{this.msg}}</p>
                             </div>
                           }
                           @if (this.errorMsg){
                             <div class="alert alert-danger" role="alert">
                               <p >{{this.errorMsg}}</p>
                             </div>
                           }
                    </div>                   
                                    </div>
            </div>
        </div>
        <!-- Contact End -->
